{% extends "main/layout.html" %}

{%block title %}{{ article.title }}{% endblock %}


{% block content %}
     <div class="features">
         <div class='text-custom'>
            <h1>{{ article.title }}</h1><br>
            <p>{{ article.full_text }}</p>
            <p>{{ article.date }}</p>
         </div> 
        <a href="{% url 'news_del' article.id%}" class="btn btn-danger">Delete</a>
         <a href="{% url 'news_up' article.id%}" class="btn btn-info">Edit</a>
         <a href="https://github.com/Kirito85?tab=repositories"><button class="btn custom-btn-deteil-view">My Portfolio</button></a>

     </div>
{% endblock %}