{% extends "main/layout.html" %}

{%block title %}Resume{% endblock %}


{% block content %}
    <div class="features">
         <h1>{{ title }}</h1>
         <p>i`am python beckend programer <br>
            About Me:
            Student Python Backend Developer with a passion for web development and automation, I have 1 years of experience in building applications using Flask and Django. My projects range from creating Telegram bots to developing personal websites, showcasing my ability to learn and adapt to new challenges. I am committed to writing clean, efficient code and continuously improving my skills through hands-on experience and collaboration. I can contribute to your team!
            <br>Skills:
            <br>Programming Languages: Python, JS(a bit)
            <br>Web Frameworks: Flask, Django,FastAPI
            <br>Databases: PostgreSQL, SQLite
            <br>Tools: Git, Docker, VS Code, PyCharm
            <br>Additional: PEP 8, virtual environments (venv), REST API, ORM (SQLAlchemy, Django ORM)</p>
         <a href="https://github.com/Kirito85?tab=repositories" ><button class="btn btn-warning">My Portfolio</button></a>
    </div>
{% endblock %}

