body {
    background: #212529;
}

aside {
    float: right;
    background: #141C23;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    width: 30vh;
    color: #e9eff5;
    border-left: 5px solid #414950;
}
aside img{
    width: 155px;
    float: left;
}

aside .logo {
    color: #e9eff5;
    font-size: 40px;
    margin-left: 0px;
    font-weight: comic;
}

aside h3 {
    font-weight: comic;
    color: #e9eff5;
}

aside ul{list-style: none;color: #e9eff5;}
aside ul li {
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
    color: #e9eff5;
}

aside ul li:hover, aside ul a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}

main .features{
    float: left;
    color:#e9eff5;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}


main .header-btn {
    margin-left: 100px;
}



main .features h1 {font-size:50px; margin-top: -55px;margin-left: 175px; color: #e9eff5;}
main .features p {max-width: auto;margin: 20px auto;text-align: left; margin-left: 25px; color: #e9eff5;}\


a {
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 75%;
    color: rgb(0 0 0);
    text-decoration: underline;
}

.alert-warning {
    float: left;
    clear: both;
    width: 750px;
    margin: 20px 34%;
    text-align: left;
    --bs-alert-bg: #e0caaf;
    --bs-alert-color: #473724;
    --bs-alert-border-color: #e0caaf;
    margin-left: 451px;

}

form {
    margin-left: 11%;
    width: 650px;
    margin-top: 50px;

}

.filesizeformat h1{
    margin-right: -150px;
}

.filesizeformat a{
    margin-right: -180px;
}


.btn-warning{
    margin-left: 150px;
}


.custom-btn-bg {
    background-color: #5D666F;
    color: #e9eff5;
    border: none;
    margin-left: 175px;
}


.custom-btn-bg:hover {
    background-color: #4d5d6d;
    color: #e9eff5; 
    border-color: #4d5d6d; 
    margin-left: 175px;
}


.custom-btn-deteil-view {
    background-color: #5D666F;
    color: #e9eff5;
    border: none;
}


.custom-btn-deteil-view:hover {
    background-color: #4d5d6d;
    color: #e9eff5; 
    border-color: #4d5d6d; 
}


.custom1-btn-bg {
    background-color: #786651;
    color: #e9eff5;
    border: none; 
}


.custom1-btn-bg:hover {
    background-color: #615443;
    color: #e9eff5; 
    border-color: #615443; 
}


.custom2-btn-bg {
    background-color: #5D666F;
    color: #e9eff5;
    border: none;
    margin-left: 115px;
}


.custom2-btn-bg:hover {
    background-color: #4d5d6d;
    color: #e9eff5; 
    border-color: #4d5d6d; 
    margin-left: 115px;
}

a{
    color: #ffffff;
    text-decoration: underline;
}



.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}


.custom3-btn-bg {
    background-color: #9DADBD;
    color: #e9eff5;
    border: none;
}


.custom3-btn-bg:hover {
    background-color: #9DADBD;
    color: #e9eff5; 
    border-color: #a8b9ca; 
}